[submodule "cloud-software/caff007df0432e323b557528d0d2a031"]
	path = cloud-software/caff007df0432e323b557528d0d2a031
	url = https://gist.github.com/Piedesert/caff007df0432e323b557528d0d2a031
[submodule "cloud-software/--force"]
	path = cloud-software/--force
	url = https://gist.github.com/Piedesert/caff007df0432e323b557528d0d2a031
[submodule "cloud-software/hook"]
	path = cloud-software/hook
	url = https://gist.github.com/Piedesert/caff007df0432e323b557528d0d2a031
[submodule "cloud-software/--name"]
	path = cloud-software/--name
	url = https://gist.github.com/Piedesert/caff007df0432e323b557528d0d2a031
[submodule "cloud-software/hook--name"]
	path = cloud-software/hook--name
	url = https://gist.github.com/Piedesert/caff007df0432e323b557528d0d2a031
